body{
    width: 1026px;
}
#header-form.container,
#form.container{
    width:90%;
    height: auto;
}
input[type=text],
textarea,
input[type=email]{
    border:none;
    outline:none;
    padding-left: 4px;
}
.input-group-text,
.form-control{
    background: transparent;
    border:none;
    outline:none;
    box-shadow: none;
    padding: 0;
}
.form-control:focus{
    outline: none;
    box-shadow:none;
    border:none;
}
.birth-place{
    margin-left: 35%;
}
.title,
.main-title{
    letter-spacing: 2px;
    color: #2B3663;
}
.custom-checkbox-box .custom-control-label::before,
.custom-checkbox-box .custom-control-label::after
 {
  width: 48px;
  height: 32px;
}
input[type="radio"] {
    width: 33px;
    height: 30px;
    border: 2px solid black;
    background-color: white;
    -webkit-appearance: none; 
    -moz-appearance: none;
  }
  input[type="radio"]:checked {
    background-color: #1FBED6;
  }
  input[type="radio"]:checked ~ span {
    color: white;
  }
  label span:first-of-type {
    right: 34px;
    font-size: 12px;
    color:black;
  }
  label span {
    position: relative; 
    bottom: 10px;
  }
#biodata{
    border: 2px solid red;
}
.qualifications{
    letter-spacing: 5px;
}
